.App {
  height: 100vh;
  background-color: rgb(0, 118, 194);
}

ul {
  padding: 0px;
}

h1 {
  color: rgb(246, 246, 246);
  margin: 10px 0px 20px 20px;
}

h2 {
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

ul p {
  margin: 10px;
}

.header {
  background-color: rgb(0, 99, 165);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: rgb(0, 118, 194);
  padding: 5px;
}

.listItem {
  background-color: rgb(255, 255, 255);
  padding: 1px;
  margin: 10px 0;
}

.listItemText {
  color: rgb(78, 78, 78);
}

.card {
  background-color: rgb(227, 228, 230);
  padding: 10px;
  margin: 0px 10px;
  width: 400px;
  align-self: flex-start;
}

.listItem,
.card,
.searchFormInput {
  border-radius: 5px;
}

.card-ul {
  display: flex;
  padding: 0;
  margin: 0px;
}

.cardDiv {
  display: flex;
}

.searchFormInput {
  border: none;
  height: 30px;
  width: 200px;
}

.searchFormInput,
.iconContainer {
  background-color: rgb(85, 148, 193);
}

.newListBtn {
  background-color: rgb(0, 102, 171);
}

.addCardText {
  color: rgb(135, 147, 151);
  padding: 0px;
  margin: 15px 0px 0px 0px;
}

.cardTitleText {
  color: rgb(53, 53, 53);
}

.searchIcon {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 180px;
}

.icon {
  color: white;
}

.iconContainer {
  max-width: 15px;
  max-height: 15px;
  padding: 10px;
  margin: 0 5px;
}

.header__icons {
  display: flex;
}
